body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Helvetica, sans-serif;
}

h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

#game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.row {
    display: flex;
    justify-content: center;
}

.hole {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 2px;
    transition: background-color 0.3s, transform 0.3s;
}

.hole.empty {
    background-color: #ccc;
}

.hole.peg {
    background-color: #000;
}

.hole:hover {
    transform: scale(1.1);
}

.buttons {
    margin-bottom: 20px;
}

button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}